[Unit]
Description=start and stop python-telegram-bot decr8_bot 

[Service]
User=root
WorkingDirectory=/home/decr8/decr8
ExecStart=python3 /home/decr8/decr8/decr8_bot.py

[Install]
WantedBy=multi-user.target
