* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

:root {
    --color-text: #B0A160;
    --color-primary: #ECCE6D;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
}

@media only screen and (min-width: 768px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.player-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    background: #434E52;
    position: fixed;
    height: 100%;
    width: 100%;
}

/* side-bar */
.side-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-bar a:hover {
    color: #f1f1f1;
}

.side-bar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .side-bar {padding-top: 15px;}
    .side-bar a {font-size: 18px;}
}

.logo-container {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    padding: 1vw;
    margin: 1vh;
}

/* cover-art */
.cover-art {
    display: flex;
    flex-wrap: nowrap;
    border: 1px #4e6d6c solid;
    box-shadow: 6px 6px 12px #9c925d;
    padding: 15px;
}

@media only screen and (max-width: 768px) {
    img {
	width: 100%;
	height: auto;
    }
}

img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    font-size: 8.2rem;
}    

/* chat */
.chat-container {
    position: fixed;
    bottom: 10vh;
    width: 40vw;
    height: 50vh;
    padding: 15px;
}

.chat {
    position: absolute;
    margin: 1vh;
    height: 50vh;
    width: 40vw;
    bottom: 10vh;
    overflow-y: scroll;
}

.chat-bar {
    position: absolute;
    width: 40vw;
    height: 10vh;
    bottom: 0;
    background: #434e52;
}

.chat-button {
    position: absolute;
    background: #434e52;
    bottom: 0;
    height: 10vh;
    width: 5vw;
    right: -1em;
}

/* content */
.content {
    display: flex;
    flex-wrap: nowrap;
    padding: 15px;
    /*transition-duration: 1.5s;
    transition-delay: .5s;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content:hover {
    overflow-y: scroll;
}

.content button {
    display: flex;
    width: 30rem;
    background: none;
    border: none;
    position: relative;
    text-decoration: none;
    color: #B0A160;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1em;
    text-overflow: ellipsis;
}

.content button:hover {
    color: #ECCE6D;
}

.now-playing {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    width: 25vw;
    height: 8vh;
    padding: 15px;
    right: 0;
}

.playing {
    background-color: #4e6d6c44;
}

.content ul {
    height: 60vh;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.content li {
    transition-delay: .2s;
    transition-duration: .5s;
    padding: 8px;
    margin-bottom: 7px;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content li:hover{
    border-bottom: 1px solid #5B8C8580;
}

/* controls */
.controls-container {
    display: flex;
    flex-flow: column wrap;
    position: fixed;
    bottom: 0;
    padding: 15px;
    height: 10vh;
    width: 100%;
    justify-content: center;
    background: #434E52;
    align-items: center;
    border: 1px solid #4e6d6c;
}

.prev-button {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 35vw;
    margin: 1vh;
    padding: 15px;
    font-size: 1rem;
    background: transparent;
    border: transparent;
    color: #5b8c85;
}

.play-button {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 5vw;
    margin: 1vh;
    padding: 15px;
    font-size: 1rem;
    background: transparent;
    border: transparent;
    color: #5b8c85;
}

.next-button {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 30vw;
    margin: 1vh;
    padding: 15px;
    font-size: 1rem;
    background: transparent;
    border: transparent;
    color: #5b8c85;
}

/* seek */
.seek-container {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    left: 12vw;
    margin: 1vh;
    padding: 15px;
    flex-direction: column;
    width: 42vw;
    justify-content: center;
}

/* time */
.time-container {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    margin: 1vh;
    padding: 15px;
    left: 8vw;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.time {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    color: #5B8C85;
}

/* volume */
.volume-container {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    height: 8vh;
    width: 4vw;
    padding: 15px;
    margin: 1vh;
    right: 25vw;
    transform: rotate(90deg);
}

.volume-icon-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 15px;
    margin: 1vh;
    bottom: 3.3vw;
    right: 2.5vh;
    transform: rotate(270deg);
}

.volume-bar {
    display: flex;
    width: 15vh;
    flex-wrap: nowrap;
    scale: 0;
    position: relative;
    right: 15vh;
    transform: rotate(180deg);
    transition-delay: .3s;
    transition-duration: .3s;
}

.volume-container:hover .volume-bar {
    display: flex;
    flex-wrap: wrap;
    scale: 1;;
}

/* others */

a {
    position: relative;
    text-decoration: none;
    color: #B0A160;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a:hover {
    color: #ECCE6D;
}

html {
    overflow-y: hidden;
}
